@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html {
  scroll-behavior: smooth;
}

button:focus {
  outline-color: $color-secondary;
}

body {
  font-family: "Roboto", sans-serif;
  top: 0 !important;
  margin: 0;
  padding: 0;
  .button-one {
    background: $color-primary;
    color: #ffffff;
    border: 1px solid #ffffff;
    text-align: center;
    border-radius: 5px;
    transition: 0.7s;
    &:hover {
      background: #ffffff;
      color: $color-primary;
      border: 1px solid $color-primary;
    }
  }
  .button-two {
    background: #ffffff;
    color: $color-primary;
    border: 1px solid $color-primary;
    text-align: center;
    border-radius: 5px;
    transition: 0.7s;
    &:hover {
      background: $color-primary;
      color: #ffffff;
      border: 1px solid #ffffff;
    }
  }
  .skiptranslate {
    display: none !important;
  }
  .goog-te-spinner-pos {
    display: none !important;
  }
}

.shrink {
  .navbar {
    background: $color-blue-2;
    height: 80px;
    .dropdown-toggle,
    .nav-link {
      color: $color-primary;
      transition: 0.5s;
      &:hover {
        color: $color-blue-1;
      }
    }
  }
}

header {
  background: linear-gradient($transparent-1, $transparent-1),
    url("../images/backgroud/header.jpg") no-repeat center fixed;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  position: relative;
  .navbar-brand {
    .logo {
      box-sizing: border-box;
      border: none;
      padding: 2px;
      border-radius: 50%;
      width: 50px;
    }
  }
  .dropdown-toggle,
  .nav-link {
    color: #fff;
    transition: 0.5s;
    &:hover {
      color: $color-blue-1;
    }
  }
  .dropdown-menu {
    border: none;
    transform: translateX(-50px);
    box-shadow: 1px 1px 10px rgb(224, 223, 223);
    .dropdown-item {
      color: $color-primary;
      transition: 0.3s;
      &:hover {
        background: transparent;
        margin-left: 10px;
      }
    }
  }
  button {
    width: 88px;
    height: 40px;
  }
  .fas.fa-bars {
    transition: 0.5s;
    color: $color-secondary;
    &:hover {
      color: $color-primary;
    }
    &:focus {
      outline: 0;
    }
  }
  .banner {
    position: absolute;
    color: #ffffff;
    width: 100%;
    top: 50%;
    left: 0;
    padding: 0 10% 0;
    transform: translateY(-50%);

    .title-banner {
      font-size: 4rem;
    }
    .content-banner {
      width: 50%;
    }
    button {
      width: 110px;
      height: 45px;
    }
  }
}

main {
  .title,
  .subtitle,
  .title-small,
  #vision-mission p,
  table tbody {
    color: $color-dark-blue;
  }
  .table-custom {
    border: 1px solid $color-blue-1;
    thead {
      th {
        background: $color-dark-blue;
        color: gainsboro;
      }
    }
    tbody {
      tr {
        &:nth-child(odd) {
          background: #fff;
        }
        &:nth-child(even) {
          background: $color-blue-4;
        }
      }
    }
  }

  .pagination {
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    .page-number {
      padding: 0;
      margin: 0 2rem;
      list-style-type: none;
      display: flex;
      li {
        padding: 0 3px;
        a {
          color: #fff;
          background: $color-primary;
          padding: 0.5rem 1rem;
          text-decoration: none;
          opacity: 0.7;
          &:hover {
            opacity: 1;
          }
          &.active {
            opacity: 1;
            background: $color-dark-blue;
          }
        }
      }
    }
  }

  #vision-mission {
    background: url("../images/backgroud/17580.jpg") no-repeat center;
    background-size: cover;
    .vision {
      font-size: 2rem;
      &::after {
        content: "";
        position: relative;
        top: inherit;
        left: 50%;
        width: 100px;
        height: 3px;
        opacity: 0.6;
        background-color: $color-dark-blue;
        display: block;
        margin-top: 10px;
        transform: translateX(-50%);
      }
    }
    .card {
      border-radius: 10px;
      height: 160px;
      border-color: $color-blue-3;
      border-bottom: 10px inset $color-primary;
      -webkit-box-shadow: 0 25px 15px -8px $transparent-1;
      -moz-box-shadow: 0 25px 15px -8px $transparent-1;
      box-shadow: 0 25px 15px -8px $transparent-1;
      .mission {
        font-size: 15px;
        word-break: keep-all;
      }
    }
  }
  #project {
    background: linear-gradient($transparent-1, $transparent-1),
      url("../images/backgroud/bg-1.jpg") no-repeat center;
    background-size: cover;
    .subtitle {
      margin-bottom: 1.5rem;
    }
    button {
      position: absolute;
      width: 110px;
      margin-top: -75px;
      right: 130px;
      z-index: 4;
      height: 48px;
    }
    .card {
      border-color: $color-blue-3;
      overflow: hidden;
      img {
        position: relative;
        z-index: 0;
      }
      .caption {
        top: 0;
        left: 0;
        position: absolute;
        background: $transparent-2;
        color: gainsboro;
        width: 100%;
        height: 100%;
        transform: translateY(85%);
        transition: 1s;
        z-index: 1;
      }
      &:hover {
        .caption {
          transform: translateY(0);
        }
      }
    }
    .slick-slide {
      cursor: pointer;
      outline: none;
      margin: 0 10px;
    }
    .arrow-prev,
    .arrow-next {
      position: absolute;
      top: -65px;
      cursor: pointer;
      color: gainsboro;
      z-index: 1;
      transition: 0.5s;
      &:hover {
        color: $color-secondary;
      }
    }
    .arrow-prev {
      right: 300px;
    }
    .arrow-next {
      right: 260px;
    }
  }
  #mineral {
    background: url("../images/backgroud/3459071.jpg") no-repeat center;
    background-size: cover;
    .left {
      float: left;
      width: 50%;
    }
    .right {
      float: right;
      width: 50%;
    }
    .list {
      font-size: 15px;
    }
  }
  #company {
    background: $light-grey url("../images/backgroud/shape-51.svg") no-repeat
      center;
    background-size: cover;
    ul {
      padding: 0;
      li {
        padding: 0;
        list-style: none;
        .btn-navigation {
          background: $color-blue-2;
          color: #ffffff;
          width: 100%;
          &[aria-expanded="true"] {
            background: $color-dark-blue;
          }
          &:focus {
            outline: 0;
            box-shadow: none;
          }
        }
      }
    }
    .box {
      cursor: pointer;
      perspective: 1000px;
      width: 300px;
      height: 300px;
      .box-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 1s;
        transform-style: preserve-3d;
      }
      &:hover {
        .box-inner {
          transform: rotateY(180deg);
        }
      }
      .box-front,
      .box-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      .box-front {
        background: $color-dark-blue;
        color: #fff;
        img {
          width: 300px;
          height: 300px;
        }
      }
      .box-back {
        padding: 7rem 0;
        background-color: $color-primary;
        color: #fff;
        transform: rotateY(180deg);
      }
    }
  }
  #licences {
    background: url("../images/backgroud/25101.jpg") no-repeat center;
    background-size: cover;
    table {
      thead {
        th {
          text-align: center;
          background: $color-dark-blue;
          color: #ffffff;
          border-right: 5px solid $light-grey;
          &:last-child {
            border: none;
          }
        }
      }
      tbody {
        tr {
          background: transparent;
          color: $color-dark-blue;
        }
      }
    }
  }
}

footer {
  .footer-top {
    background: $color-dark-blue-2;
    .logo-footer {
      width: 75px;
    }
    .name,
    a,
    p {
      color: rgb(216, 216, 216);
    }
    ul {
      li {
        list-style: none;
        margin-bottom: 5px;
        a {
          text-decoration: none;
          &:hover {
            color: #ffffff;
          }
        }
      }
    }
  }
  .footer-bottom {
    background: $color-dark-blue-3;
  }
}
