$color-primary: #1459a3;
$color-secondary: #3389e6;
$color-dark-blue: #082544;
$color-blue-1: #60a3eb;
$color-blue-2: #8dbef1;
$color-blue-3: #bbd8f7;
$color-blue-4: #e8f2fc;
$light-grey: #ebebeb;
$transparent-1: rgba(0, 0, 0, 0.5);
$transparent-2: #1459a3d7;

$border-radius: 3rem;
