$color-primary: #1459a3;
$color-secondary: #3389e6;
$color-dark-blue: #09305a;
$color-dark-blue-2: #061b31;
$color-dark-blue-3: #041222;
$color-blue-1: #60a3eb;
$color-blue-2: #8dbef1;
$color-blue-3: #bbd8f7;
$color-blue-4: #e8f2fc;
$light-grey: #ebebeb;
$transparent-1: rgba(0, 0, 0, 0.5);
$transparent-2: rgba(#1459a3, 0.7);
$transparent-3: rgba(0, 0, 0, 0.2);
$transparent-4: rgba(0, 0, 0, 0.7);

$border-radius: 3rem;
