$color-primary: #e6b800;
$color-secondary: #ffff66;
$color-third: #ff9900;
$color-fourth: #1459a3;
$color-yellow-1: #ffcc00;
$color-dark-1: #09305a;
$color-dark-2: #061d36;
$color-dark-3: #020d18;
$color-blue-1: #60a3eb;
$color-blue-2: #8dbef1;
$color-blue-3: #bbd8f7;
$color-blue-4: #e8f2fc;
$light-grey: #ebebeb;
$light-grey-1: #f3f3f3;
$light-grey-2: #a0a0a0;
$transparent-1: rgba(0, 0, 0, 0.5);
$transparent-2: rgba(#ffcc00, 0.8);
$transparent-3: rgba(0, 0, 0, 0.2);
$transparent-4: rgba(0, 0, 0, 0.7);
$transparent-5: rgba(#ffcc00, 0.2);

$border-radius: 3rem;
