.paragraph {
  text-indent: 3rem;
  text-align: justify;
}

#profil {
  background: url("../images/backgroud/3459071.jpg") no-repeat center;
  background-size: cover;
}
#value {
  background: url("../images/backgroud/17580.jpg") no-repeat center;
  background-size: cover;
  .circle-title {
    color: #fff;
    font-weight: 600;
    animation: inOut 5s linear infinite;
  }
  .circle-title {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    &.commitment {
      background: linear-gradient($transparent-4, $transparent-4),
        url("../images/backgroud/commitment.jpg") no-repeat center;
      background-size: cover;
    }
    &.integrity {
      background: linear-gradient($transparent-4, $transparent-4),
        url("../images/backgroud/integrity.jpg") no-repeat center;
      background-size: cover;
    }
    &.open {
      background: linear-gradient($transparent-4, $transparent-4),
        url("../images/backgroud/open.jpg") no-repeat center;
      background-size: cover;
    }
    &.rational {
      background: linear-gradient($transparent-4, $transparent-4),
        url("../images/backgroud/rational.jpg") no-repeat center;
      background-size: cover;
    }
    &.visionary {
      background: linear-gradient($transparent-4, $transparent-4),
        url("../images/backgroud/visionary.jpg") no-repeat center;
      background-size: cover;
    }
  }
}
#otherAbout {
  background: url("../images/backgroud/3459071.jpg") no-repeat center;
  background-size: cover;
  ul {
    border-bottom: 1px solid $color-primary;
    li {
      padding: 0;
      list-style: none;
      .btn-about {
        background: transparent;
        color: $color-primary;
        width: 100%;
        border-radius: 0;
        padding: 10px 15px;
        &:hover,
        &[aria-expanded="true"] {
          font-weight: 900;
          border-bottom: 2px solid $color-secondary;
        }
        &:focus {
          outline: 0;
          box-shadow: none;
        }
      }
    }
  }
  img {
    clip-path: polygon(69% 0%, 100% 25%, 100% 99%, 22% 100%, 0% 78%, 1% 0%);
  }
}

@keyframes inOut {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
