#governance {
  img {
    clip-path: polygon(69% 0%, 100% 25%, 100% 99%, 22% 100%, 0% 78%, 1% 0%);
  }
}
#princip {
  background: linear-gradient($transparent-4, $transparent-4),
    url("../images/backgroud/bg-4.jpg") no-repeat center;
  background-size: cover;

  .square-title {
    color: $color-primary;
    font-weight: 600;
    background: none;
    width: 200px;
    height: 200px;
    border: 2px solid $color-primary;
    clip-path: polygon(69% 0%, 100% 25%, 100% 99%, 22% 100%, 0% 78%, 1% 0%);
    animation: inOut 5s linear infinite;
  }
}
