header {
  .navbar-brand {
    .logo {
      box-sizing: border-box;
      border: none;
      padding: 2px;
      border-radius: 50%;
      width: 50px;
    }
  }
  .nav-link {
    &.active {
      color: $color-blue-1;
    }
  }
  .dropdown-toggle,
  .nav-link {
    color: #fff;
    transition: 0.5s;
    font-size: 18px;
    &:hover {
      color: $color-blue-1;
    }
  }
  .dropdown-menu {
    border: none;
    transform: translateX(-50px);
    box-shadow: 1px 1px 10px rgb(224, 223, 223);
    .dropdown-item {
      color: $color-primary;
      transition: 0.3s;
      &:hover {
        background: transparent;
        margin-left: 10px;
      }
    }
  }
  button {
    width: 100px;
    height: 45px;
  }
  .fas.fa-bars {
    transition: 0.5s;
    color: $color-secondary;
    &:hover {
      color: $color-primary;
    }
    &:focus {
      outline: 0;
    }
  }
  &#home {
    background: linear-gradient($transparent-1, $transparent-1),
      url("../images/backgroud/header.jpg") no-repeat center fixed;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    position: relative;
    .banner {
      position: absolute;
      color: #ffffff;
      width: 100%;
      top: 50%;
      left: 0;
      padding: 0 10% 0;
      transform: translateY(-50%);

      .title-banner {
        font-size: 4rem;
      }
      .content-banner {
        width: 50%;
      }
      button {
        width: 110px;
        height: 45px;
      }
    }
  }
  &#side {
    background: linear-gradient($transparent-4, $transparent-4),
      url("../images/backgroud/header-products.jpg") no-repeat center;
    background-size: cover;
    min-height: 75vh;
    width: 100%;
    position: relative;

    .title-page {
      position: absolute;
      color: #ffffff;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      h1 {
        font-size: 3.5rem;
      }
    }
  }
}
