@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html {
  scroll-behavior: smooth;
}

button:focus {
  outline-color: $color-secondary;
}

body {
  font-family: "Roboto", sans-serif;
  top: 0 !important;
  margin: 0;
  padding: 0;
  .button-one {
    background: $color-primary;
    color: #ffffff;
    border: 1px solid #ffffff;
    text-align: center;
    border-radius: 5px;
    transition: 0.7s;
    &:hover {
      background: #ffffff;
      color: $color-primary;
      border: 1px solid $color-primary;
    }
  }
  .button-two {
    background: #ffffff;
    color: $color-primary;
    border: 1px solid $color-primary;
    text-align: center;
    border-radius: 5px;
    transition: 0.7s;
    &:hover {
      background: $color-primary;
      color: #ffffff;
      border: 1px solid #ffffff;
    }
  }
  .skiptranslate {
    display: none !important;
  }
  .goog-te-spinner-pos {
    display: none !important;
  }
}
main {
  overflow: hidden;
}

.shrink {
  .navbar {
    background: #fff;
    box-shadow: 2px 2px 12px #888;
    padding: 16px;
    .dropdown-toggle,
    .nav-link {
      color: $color-dark-1;
      transition: 0.5s;
      &:hover {
        color: $color-primary;
      }
    }
    .nav-link {
      &.active {
        color: $color-primary;
      }
    }
  }
}

main {
  .title,
  .subtitle,
  .title-small,
  #vision-mission p {
    color: $color-primary;
  }
  table tbody {
    color: $color-dark-1;
  }
  .table-custom {
    thead {
      th {
        background: $color-dark-1;
        color: gainsboro;
        border-right: 5px solid $light-grey;
        &:last-child {
          border: none;
        }
      }
    }
    tbody {
      tr {
        background: transparent;
        // &:nth-child(odd) {
        //   background: #fff;
        // }
        // &:nth-child(even) {
        //   background: $color-blue-4;
        // }
        border-bottom: 1px solid rgba($color-dark-1, 0.5);
      }
    }
  }

  .pagination {
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    .page-number {
      padding: 0;
      margin: 0 2rem;
      list-style-type: none;
      display: flex;
      li {
        padding: 0 3px;
        a {
          color: #fff;
          background: $color-primary;
          padding: 0.5rem 1rem;
          text-decoration: none;
          opacity: 0.7;
          &:hover {
            opacity: 1;
          }
          &.active {
            opacity: 1;
            background: $color-primary;
          }
        }
      }
    }
  }

  #vision-mission {
    background: url("../images/backgroud/3132.jpg") no-repeat center;
    background-size: cover;
    .vision {
      font-size: 2rem;
      &::after {
        content: "";
        position: relative;
        top: inherit;
        left: 50%;
        width: 100px;
        height: 3px;
        opacity: 0.6;
        background-color: $color-dark-1;
        display: block;
        margin-top: 10px;
        transform: translateX(-50%);
      }
    }
    .card {
      border-radius: 10px;
      height: 160px;
      border-color: $color-secondary;
      border-bottom: 10px inset $color-primary;
      -webkit-box-shadow: 0 25px 15px -8px $transparent-1;
      -moz-box-shadow: 0 25px 15px -8px $transparent-1;
      box-shadow: 0 25px 15px -8px $transparent-1;
      .mission {
        font-size: 15px;
        word-break: keep-all;
      }
    }
  }
  #project {
    background: linear-gradient($transparent-1, $transparent-1),
      url("../images/backgroud/bg-1.jpg") no-repeat center;
    background-size: cover;
    .subtitle {
      margin-bottom: 1.5rem;
    }
    button {
      position: absolute;
      width: 110px;
      margin-top: -75px;
      right: 130px;
      z-index: 4;
      height: 48px;
    }
    .card {
      border-color: $color-secondary;
      overflow: hidden;
      img {
        position: relative;
        z-index: 0;
      }
      .caption {
        top: 0;
        left: 0;
        position: absolute;
        background: $transparent-2;
        color: $color-dark-1;
        width: 100%;
        height: 100%;
        transform: translateY(85%);
        transition: 1s;
        z-index: 1;
      }
      &:hover {
        .caption {
          transform: translateY(0);
        }
      }
    }
    .slick-slide {
      cursor: pointer;
      outline: none;
      margin: 0 10px;
    }
    .arrow-prev,
    .arrow-next {
      position: absolute;
      top: -65px;
      cursor: pointer;
      color: gainsboro;
      z-index: 1;
      transition: 0.5s;
      &:hover {
        color: $color-secondary;
      }
    }
    .arrow-prev {
      right: 300px;
    }
    .arrow-next {
      right: 260px;
    }
  }
  #mineral {
    background: #ffffff;
    // background: url("../images/backgroud/3459071.jpg") no-repeat center;
    // background-size: cover;
    .left {
      float: left;
      width: 50%;
    }
    .right {
      float: right;
      width: 50%;
    }
    .list {
      font-size: 15px;
    }
  }
  #product {
    background: linear-gradient($transparent-4, $transparent-4),
      url("../images/backgroud/bg-3.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    .card {
      background: transparent;
    }
    img {
      width: 200px;
      height: 200px;
      clip-path: circle(50% at 50% 50%);
    }
  }
  #company {
    background: $light-grey url("../images/backgroud/shape-51.svg") no-repeat
      center;
    background-size: cover;
    ul {
      padding: 0;
      li {
        padding: 0;
        list-style: none;
        .btn-navigation {
          background-color: transparent;
          color: $color-primary;
          width: 100%;
          font-weight: 900;
          border-radius: 0;
          transition: 0.5s;
          &:hover {
            background: $color-yellow-1;
            color: #fff;
          }
          &[aria-expanded="true"] {
            background: $color-primary;
            color: #fff;
          }
          &:focus {
            outline: 0;
            box-shadow: none;
          }
        }
      }
    }
    .box {
      cursor: pointer;
      perspective: 1000px;
      width: 250px;
      height: 250px;
      border-radius: $border-radius * 0.2;
      .box-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 1s;
        border-radius: $border-radius * 0.2;
        transform-style: preserve-3d;
      }
      &:hover {
        .box-inner {
          transform: rotateY(180deg);
        }
      }
      .box-front,
      .box-back {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: $border-radius * 0.2;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      .box-front {
        background: $color-dark-1;
        color: #fff;
        img {
          width: 250px;
          border-radius: $border-radius * 0.2;
          height: 250px;
        }
      }
      .box-back {
        padding: 5rem 0;
        background-color: $color-primary;
        color: #fff;
        transform: rotateY(180deg);
      }
    }
  }
  #licences {
    background: url("../images/backgroud/25101.jpg") no-repeat center;
    background-size: cover;
  }
}

footer {
  .footer-top {
    background: $color-dark-2;
    .logo-footer {
      width: 75px;
    }
    .name,
    a,
    p {
      color: rgb(216, 216, 216);
    }
    ul {
      li {
        list-style: none;
        margin-bottom: 5px;
        a {
          text-decoration: none;
          &:hover {
            color: #ffffff;
          }
        }
      }
    }
  }
  .footer-bottom {
    background: $color-dark-3;
    h6 {
      font-size: 14px;
    }
  }
}
